services:
  devopsflow:
    image: ${DOCKERHUB_USERNAME}/devopsflow:latest
    container_name: devopsflow
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
    restart: unless-stopped
